<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec07e890188d2200f87c28cf1529668:ac7608d1f04ab193bff21724566c15eb:39d62a0cbe721fda095e2f7e4c4fe22b$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>CapGuy.1@2x.png</string>
                <key>size</key>
                <string>{2046,1928}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Background@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{2044,1536}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{2044,1536}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0015@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{22,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1,1539},{161,319}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0016@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{22,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1,1539},{161,319}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{164,1539},{168,303}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{164,1539},{168,303}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{334,1539},{167,302}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{334,1539},{167,302}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{15,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{503,1539},{158,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{15,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{503,1539},{158,316}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{26,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{663,1539},{152,307}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0006@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{26,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{663,1539},{152,307}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0011@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{817,1539},{151,307}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0012@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{817,1539},{151,307}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0013@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{32,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{970,1539},{146,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0014@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{32,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{970,1539},{146,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0009@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1118,1539},{139,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0010@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1118,1539},{139,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{38,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1259,1539},{141,306}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{38,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1259,1539},{141,306}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0007@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{42,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1402,1539},{141,306}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0008@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{42,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1402,1539},{141,306}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0011@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{29,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1545,1539},{135,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0012@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{29,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,324}</string>
                        <key>textureRect</key>
                        <string>{{1545,1539},{135,311}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0007@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{6,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1539},{314,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0008@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{6,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1539},{314,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1670},{312,126}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0006@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1670},{312,126}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0009@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1798},{300,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0010@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{207,329}</string>
                        <key>textureRect</key>
                        <string>{{1682,1798},{300,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>CapGuy.1.png</string>
                <key>size</key>
                <string>{1024,982}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1022,768}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{1022,768}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0015.png</string>
                        <key>spriteOffset</key>
                        <string>{10,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{1,771},{161,83}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0016.png</string>
                        <key>spriteOffset</key>
                        <string>{10,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{1,771},{161,83}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{164,771},{159,81}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{164,771},{159,81}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0013.png</string>
                        <key>spriteOffset</key>
                        <string>{15,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{325,771},{159,75}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0014.png</string>
                        <key>spriteOffset</key>
                        <string>{15,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{325,771},{159,75}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{2,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{486,771},{158,67}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{2,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{486,771},{158,67}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{16,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{646,771},{157,71}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{16,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{646,771},{157,71}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{486,840},{153,86}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{486,840},{153,86}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{325,848},{153,85}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{325,848},{153,85}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{12,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{164,854},{155,78}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{12,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{164,854},{155,78}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{1,856},{155,77}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{1,856},{155,77}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{18,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{805,771},{73,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{18,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{805,771},{73,155}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{20,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{880,771},{73,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{20,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{880,771},{73,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{14,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{955,771},{65,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{14,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{955,771},{65,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{14,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{641,844},{157,69}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{14,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{641,844},{157,69}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{5,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{641,915},{152,66}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{5,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{641,915},{152,66}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
